[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-terminal-emulator -e capi-isdnconf
Icon=sidux-capi-isdn
Name=CAPI ISDN Conf
Name[ru]=Конфигурация CAPI для ISDN
Name[pt]=Configuração ISDN Capi
Name[pt_BR]=Configuração ISDN Capi
Categories=sidux;ISDN
