[Desktop Entry]
Exec=kanotix-su rxvt -e capi-isdnconf
Hidden=false
Icon=CAPI ISDN Conf
Name=CAPI ISDN Conf
Path=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
