[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-me x-terminal-emulator -e capi-isdnconf
Icon=sidux-capi-isdn
Name=CAPI ISDN Conf
Categories=sidux;ISDN

