[Desktop Entry]
Exec=kanotix-su rxvt -e conf-isdn-account
Icon=ISDN configuration tool
Name=ISDN configuration tool
Path=
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
