Source: configure-isdn
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 6), imagemagick, gettext
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/configure-isdn/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-isdn/trunk/

Package: configure-isdn
Architecture: all
Depends: ssft, isdnutils-base, ppp, gettext
Recommends: menu
Suggests: zenity, conf-isdn-account, xterm | x-terminal-emulator
Description: ISDN configuration tools
 Several sidux tools for configuring ISDN interfaces.
