Source: configure-isdn
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.2

Package: configure-isdn
Architecture: all
Depends: dialog, su-me, sidux-xdg, isdnutils-base, ppp
Suggests: xdialog, conf-isdn-account, xterm | x-terminal-emulator
Description: ISDN configuration tools
 Several sidux tools for configuring ISDN interfaces.
