Source: configure-isdn
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick, gettext
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.berlios.de/fullstory/configure-isdn/trunk
XS-Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/configure-isdn/trunk/

Package: configure-isdn
Architecture: all
Depends: ssft, su-me, sidux-xdg, isdnutils-base, ppp, gettext
Suggests: zenity, conf-isdn-account, xterm | x-terminal-emulator
Description: ISDN configuration tools
 Several sidux tools for configuring ISDN interfaces.
